#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a kickstart instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman joplin.service
Requires=joplin-pgsql.service joplin-server.service
Before=joplin-pgsql.service joplin-server.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/joplin.pid %t/joplin.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/joplin.pid \
    --pod-id-file %t/joplin.pod-id \
    --name joplin \
    --publish 127.0.0.1:${TCP_PORT}:22300 \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/joplin.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/joplin.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/joplin.pod-id
PIDFile=%t/joplin.pid
Type=forking

[Install]
WantedBy=default.target
