#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  joplin-pgsql.service
BindsTo=joplin.service
After=joplin.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/joplin-pgsql.pid %t/joplin-pgsql.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/joplin-pgsql.pid \
    --cidfile %t/joplin-pgsql.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/joplin.pod-id --replace -d --name  joplin-pgsql \
    --env-file=%S/state/database.env \
    --volume postgres-data:/var/lib/postgresql/data:Z \
       ${POSTGRES_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/joplin-pgsql.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP joplin-pgsql
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/joplin-pgsql.ctr-id
PIDFile=%t/joplin-pgsql.pid
Type=forking

[Install]
WantedBy=default.target
